body, html {
  background-color: #333333 !important;
  height: 100vh;
}

/* Top Navbar */

nav.topnav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: linear-gradient(90deg, #2CA95B 0%, #333333 50%, #688dcc 100%);
  width: 100%;
  height: auto;
  padding: 0 10px 0 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav #buttons {
  display: flex;
  gap: 5px;
  padding: 5px 0 5px 0;
}

nav .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: white;
  font-weight: bold;
}

nav #links {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  gap: 20px;
}

#labTemp {
  font-weight: bold;
  color: #e3a814;
  display: inline-block;
}

/* Table Stuff */

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 2rem;
  margin: 20px 5px 20px 5px;
}

.rack {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: #2CA95B;
  width: 430px; 
  text-align: center;
}

.header p, td p {
  margin: 0;
  font-weight: bold;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

th#RU {
  width: 20px;
}

th#symbol {
  width: 50px;
}

.header hr {
  margin: 0;
  border: 0;
  height: 2px;
  width: auto;
  background-color: #000000;
}

table.table {
  --bs-table-bg: #2CA95B;
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  margin: 0;
}

.table .GRAY {
  background-color: gray;
  text-align: center;
  font-weight: bold;
  border: 1px solid black;
}
.table .BLANK {
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
}

.table tbody:hover td {
  filter: brightness(85%);
}

.table .TITAN {
  color: black;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  background-color: green;
  transition: all 0.3s ease;
}

.table .UTILITY {
  background-color: #e3a814;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.table .KUBE {
  background-color: #688dcc;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.table .VM {
  background-color: #f7ac81;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.table .powerButton {
  width: 25px;
  height: 25px;
  mix-blend-mode: multiply;
  text-align: middle;
}

.table .powerSave {
  text-align: center;
}

/* Lab Stuff */

#resetZoomBtn {
  position: absolute;
  left: 46%
}

#chart-container {
  width: 100%;
  max-width: 1200px;
  height: 70vh;
  min-height: 320px;
  margin: auto;
  background: #232323;
  border-radius: 18px;
  border: 2px solid #00a4de;
  box-shadow: 0 4px 24px rgba(0,0,0,0.3);
  padding: 32px 24px; box-sizing: border-box; 
}

#main-content {
  background-color: #333333;
  padding: 12px;
}

/* Form Stuff */
.form-group label {
  color: white;
}

.form-check label {
  color: white;
}

.form-group .form-control:disabled { 
  background-color: rgb(170, 170, 170) !important;
  opacity: 1 !important;
  cursor: not-allowed !important;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #dde2dd;
  margin: 15%; /* 15% from the top and centered */
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

/* Modal content */
.modalTitle {
  text-align: center;
}

.modalTable {
  background-color: lightgreen;
  table-layout: fixed;
  width: 100%;
  border: 3px solid green;
}

.modalTable {
  word-wrap: break-word;
  text-align: center;
  border: 3px solid green;
}

.modalTD {
  word-wrap: break-word;
  text-align: center;
  border: 1px solid green;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.table .powerState {
  background-color: gray;
  text-align: center;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.clicky {
  cursor: pointer;
}

.colLabel {
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}