{% extends "base.jinja2" %}

{% block content %}
<!--Popup Modal-->
<div id="infoModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1 class="modalTitle" id="titleText">Title</h1>
    <table class="modalTable">
      <tr class="trModal">
        <th class="modalTD">OOBM</th>
        <th class="modalTD">Management</th>
        <th class="modalTD">S/N</th>
        <th class="modalTD">Product #</th>
        <th class="modalTD">Login</th>
      </tr>
      <tr class="trModal">
        <td class="modalTD" id="oobmText">text</td>
        <td class="modalTD" id="managementText">text</td>
        <td class="modalTD" id="serial"></td>
        <td class="modalTD" id="product"></td>
        <td class="modalTD" id="login"></td>
      </tr>
    </table>
  </div>
</div>

<div class="wrap">
  {% for rack in db_racks %}
    <div class="rack">
      <div class="header">
        <p>{{ rack.name }}</p>
        {% if not current_user.is_anonymous %}
          <div id="buttons">
            <a id="add-server" class="btn btn-outline-light" href="{{ url_for('main.add_server', rack_name=rack.name) }}">Add Server</a>
            <a id="add-server" class="btn btn-outline-light" href="{{ url_for('main.edit_rack', rack_name=rack.name) }}">Edit Rack</a>
            <a id="delete_rack" class="btn btn-outline-danger" href="{{ url_for('main.delete_rack', rack_name=rack.name) }}">Delete Rack</a>
          </div>
        {% endif %}
        <hr>
        <p>
          Management: {{ rack.mgmt_ip }}<br />
          OOBM: {{ rack.oobm_ip }}<br />
          Streaming 1: {{ rack.stream_1_ip }}<br />
          Streaming 2: {{ rack.stream_2_ip }}
        </p>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" id="RU"><span>RU</span></th>
            <th scope="col"><span>Front of Rack</span></th>
            <th scope="col" id="symbol"><span>Power Status</span></th>
            <th scope="col" id="symbol"><span>Monday On</span></th>
            <th scope="col" id="symbol"><span>Friday Off</span></th>
          </tr>
        </thead>
        {% for server in rack.display_servers %}
          {% if server.name == 'BLANK' %}
            <tbody>
              <td scope="row">{{ server.top_unit }}</td>
              <td rowspan="{{ server.top_unit - server.bottom_unit + 1 }}" class="BLANK">{{ server.name }}</td>
              <td class="powerState" rowspan="{{ server.top_unit - server.bottom_unit + 1 }}"></td>
              <td rowspan="{{ server.top_unit - server.bottom_unit + 1 }}" class="powerSave"></td>
              <td rowspan="{{ server.top_unit - server.bottom_unit + 1 }}"></td>
              {% for i in range(server.top_unit - server.bottom_unit) %}
                <tr><td scope="row">{{ server.top_unit - i - 1 }}</td></tr>
              {% endfor %}
            </tbody>
          {% else %}
            <tbody>
              <td scope="row">{{ server.top_unit }}</td>
              <td rowspan="{{ server.top_unit - server.bottom_unit + 1 }}" class="{{ server.category.name }}">
                <p onclick="showModal(&quot;{{ server.name }}&quot;)" style="cursor: pointer;">{{ server.name }}</p>
                {% if not current_user.is_anonymous %}
                  <div class="d-flex gap-2">
                    <a class="btn btn-outline-light" href="{{ url_for('main.edit_server', rack_name=rack.name, server_name=server.name) }}">Edit</a>
                    <a class="btn btn-outline-danger" href="{{ url_for('main.delete_server', rack_name=rack.name, server_name=server.name) }}">Delete</a>
                  </div>
                {% endif %}
              </td>
              <td class="powerState" rowspan="{{ server.top_unit - server.bottom_unit + 1 }}" id="{{ server.power_button_ip }}">
                {% if server.power_button %}
                  <input type="image" src="{{ url_for('static', filename='images/poweron.png') }}" class="powerButton" onclick="powerOn('{{ server.name }}', '{{ server.power_button_ip }}')" />
                {% endif %}
              </td>
              <td rowspan="{{ server.top_unit - server.bottom_unit + 1 }}" class="powerSave">
                {% if server.monday_on %}
                  &#10004;
                {% endif %}
              </td>
              <td rowspan="{{ server.top_unit - server.bottom_unit + 1 }}">
                {% if server.friday_off %}
                  &#10004;
                {% endif %}
              </td>
              {% for i in range(server.top_unit - server.bottom_unit) %}
                <tr><td scope="row">{{ server.top_unit - i - 1 }}</td></tr>
              {% endfor %}
            </tbody>
          {% endif %}
        {% endfor %}
      </table>
    </div>
  {% endfor %}
</div>
{% endblock %}