{% extends "base.jinja2" %}

{% block content %}
  <div class="wrap">
    <table class="table table-bordered" style="width:fit-content;height:fit-content;">
      <thead>
        <tr>
          <th scope="col"><span>Processor Name</span></th>
          <th scope="col"><span>Cores</span></th>
          <th scope="col"><span>Threads</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>9654p</td>
          <td>96</td>
          <td>192</td>
        </tr>
        <tr>
          <td>7713p</td>
          <td>64</td>
          <td>128</td>
        </tr>
        <tr>
          <td>7702p</td>
          <td>64</td>
          <td>128</td>
        </tr>
        <tr>
          <td>9454p</td>
          <td>48</td>
          <td>96</td>
        </tr>
        <tr>
          <td>7502p</td>
          <td>32</td>
          <td>64</td>
        </tr>
        <tr>
          <td>7543p</td>
          <td>28</td>
          <td>56</td>
        </tr>
        <tr>
          <td>Xeon Gold 6330</td>
          <td>28</td>
          <td>56</td>
        </tr>
        <tr>
          <td>9224p</td>
          <td>24</td>
          <td>48</td>
        </tr>
        <tr>
          <td>Xeon Gold 6252</td>
          <td>24</td>
          <td>48</td>
        </tr>
        <tr>
          <td>Xeon Gold 6230</td>
          <td>20</td>
          <td>40</td>
        </tr>
        <tr>
          <td>Xeon Gold 5218R</td>
          <td>20</td>
          <td>40</td>
        </tr>
        <tr>
          <td>Xeon Gold 6254</td>
          <td>18</td>
          <td>36</td>
        </tr>
        <tr>
          <td>Xeon Gold 6240</td>
          <td>18</td>
          <td>36</td>
        </tr>
        <tr>
          <td>Xeon Gold 6140</td>
          <td>18</td>
          <td>36</td>
        </tr>
        <tr>
          <td>Xeon E5-2697 v4</td>
          <td>18</td>
          <td>36</td>
        </tr>
        <tr>
          <td>7313p</td>
          <td>16</td>
          <td>32</td>
        </tr>
        <tr>
          <td>i5 13500E</td>
          <td>14</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Gold 5120</td>
          <td>14</td>
          <td>28</td>
        </tr>
        <tr>
          <td>Xeon Gold 6226</td>
          <td>12</td>
          <td>24</td>
        </tr>
        <tr>
          <td>Xeon Silver 4214</td>
          <td>12</td>
          <td>24</td>
        </tr>
        <tr>
          <td>Xeon Silver 4116</td>
          <td>12</td>
          <td>24</td>
        </tr>
        <tr>
          <td>Xeon E-2680v3</td>
          <td>12</td>
          <td>24</td>
        </tr>
        <tr>
          <td>Xeon E5-2697</td>
          <td>12</td>
          <td>24</td>
        </tr>
        <tr>
          <td>Xeon E5-2640 v4</td>
          <td>10</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Xeon E-2388G</td>
          <td>8</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Xeon E5-2640</td>
          <td>6</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Xeon E-2176G</td>
          <td>6</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Xeon E-2276G</td>
          <td>6</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Xeon E-2246G</td>
          <td>6</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Pentium Gold G5420</td>
          <td>2</td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}